<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <h1>Gourmet List</h1>
    <div class="restaurant">
        <div class="name" style="font-weight:bold;">맛집이름</div>
        <div class="location" style="font-weight:bold;">위치</div>
        <div class="evaluation" style="font-weight:bold;">한줄평</div>
        <div style="text-align: center;font-weight:bold;">삭제버튼</div>
    </div>
    <button class="btn-open-popup" id="plus">+</button>
    <div class="modal">
        <div class="modal_body">
            <input id="Name" type="text" name="name" placeholder="맛집 이름">
            <input id="Location" type="text" name="location" placeholder="위치">
            <input id="Evaluation" type="text" name="evaluation" placeholder="한줄평">
            <button class="submit">완료</button>
        </div>
    </div>
    <script src="/js/modal.js"></script>
    <script src="/js/fetcH.js"></script>
</body>