.restaurant{
    display: grid;

    grid-template-columns: 1fr 1fr 5fr 1fr;
}

.name{
    display: inline;
}
.location{
    display: inline;
}
.evaluation{
    display: inline;
}
.search{
    display: inline;
}